<div class="jumbotron text-center">
    <h1>All Projects</h1>
</div>

<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>Project Name</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        
        <% for (var project of projects) { %>
            <tr>
                <td><%= project.name %></td>
                <td><%= project.description %></td>
                <td>
                    <!--<a href="/projects/<%= project %>" class="btn btn-xs btn-primary">View</a>-->
                </td>
            </tr>
        <% } %>
    </tbody>
</table>